{%- comment -%}
  MathJax: See https://docs.mathjax.org/en/v2.7-latest/start.html
  
  For loading and configuration to use version 3, see:
  https://docs.mathjax.org/en/latest/web/configuration.html
{%- endcomment -%}

{% case page.math %}

  {% when "katex" %}
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">


    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>
    
    <!-- Copy-tex extension https://github.com/KaTeX/KaTeX/tree/master/contrib/copy-tex -->
    <link href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/copy-tex.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/copy-tex.min.js" integrity="sha384-Ep9Es0VCjVn9dFeaN2uQxgGcGmG+pfZ4eBaHxUpxXDORrrVACZVOpywyzvFRGbmv" crossorigin="anonymous"></script>

    <!-- Override the KaTeX 0.13.0 default of font-size: 1.21em -->
    <style>
      .katex { 
        font-size: 1em; 
      }
    </style>

    <!-- Workaround for KaTeX 0.13.0 bug https://github.com/KaTeX/KaTeX/issues/2815
    Unsatisfactory - can upset vertical alignment
    <style>
      .katex .vlist-r {
        display: table-cell;
      }
    </style>
    -->

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-bHBqxz8fokvgoJ/sc17HODNxa42TlaEhB+w8ZJXTc2nZf1VgEaFZeZvT4Mznfz0v" crossorigin="anonymous"
        onload="renderMathInElement(document.body, {
          globalGroup: true,
          trust: true
        });"></script>
     
  {% when "mathjax2" %}
  
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: { 
          equationNumbers: { autoNumber: "AMS" }
        }
      });
    </script>
    <script type="text/javascript" async 
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_SVG">
    </script>
  
  {% when "mathjax3" %}
    
    <script>
      MathJax = { 
        tex: { 
          tags: 'ams',
          packages: {'[+]': ['textmacros']},
        },
        loader: {
          load: ['[tex]/textmacros']
        }
      };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

{% endcase %}

{%- comment -%}
  Favicon: See https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests
{%- endcomment -%}

<link rel="icon" href="data:,">
